<div class="row justify-content-center mt-3">
  <div class="col col-md-10">

    <h2><%= t('.header') %></h2>

    <p>
      <%= link_to t('.new_badge'), new_admin_badge_path, class: 'btn btn-sm btn-outline-primary' %>
    </p>

    <%= render 'shared/errors', resource: @badge %>

    <table class="table table-hover table-bordered table-sm">
      <thead class="thead-light">
        <tr>
          <th><%= t('.image') %></th>
          <th><%= t('.title') %></th>
          <th><%= t('.rule_type') %></th>
          <th><%= t('.rule_value') %></th>
          <th colspan="2"><%= t('.actions') %></th>
        </tr>
      </thead>

      <%= render @badges %>
    </table>
  </div>
</div>
