<div class="container">
  <h2><%= t('.header') %></h2>

  <table class="table table-hover table-sm table-bordered">
    <thead class="thead-laght">
      <tr>
        <th><%= t('.question') %></th>
        <th><%= t('.gist_url') %></th>
        <th><%= t('.user') %></th>
      </tr>
    </thead>

    <%= render @gists %>
  </table>
</div>
