<!--h1>Тест по теме: <%= @test_passage.test.title %>. Завершен! </h1-->

<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p>
  <% if @test_passage.success? %>
    <span class='success'>  
      <%= t('.congratulations', percent: @test_passage.percent_correct_answers) %>
    </span>
  <% else %>
    <span class='failure'> 
      <%= t('.lose', percent: @test_passage.percent_correct_answers) %>
    </span>
  <% end %>
</p>

<%= link_to t('.back'), tests_path %>
