<h2><%= t('.header') %></h2>

<p>
  <%= @answer.question.body %>
</p>

<p>
  <b><%= t('.answer', title: @answer.body) %></b>
</p>

<p>
  <b><%= t('.correct', title: @answer.correct) %> </b>
</p>

<%= link_to t('.back'), admin_question_path(@answer.question) %>
