<%= form_with model: [:admin, @test, @question], data: { turbo: false } do |form| %>
  <%= render 'shared/errors', resource: @question %>

  <p>
    <%= form.label :body, 'Название вопроса:' %><br>
    <%= form.text_field :body, id: :question_body  %>
  </p>

  <p><%= form.submit "Сохранить" %></p><br>
<% end %>
