<%= form_with model: [:admin, @test], local: true do |form| %>

  <%= render 'shared/errors', resource: @test %>

  <p>
    <%= form.label :title, 'Название курса' %><br>
    <%= form.text_field :title, id: :test_title %>
  </p>

  <p>
    <%= form.label :level, 'Уровень сложности' %><br>
    <%= form.number_field :level, id: :test_level %>
  </p>

  <p>
    <%= form.label :category_id, 'Категория' %><br>
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: true %>
  </p>

  <p><%= form.submit 'Сохранить' %></p>
<% end %>
