<tr>
  <td><%= test.title %></td>
  <td><%= test_level(test) %></td>
  <td><%= test.questions.size %></td>

  <td><%= link_to "Вопросы", admin_test_path(test) %></td>
  <td><%= link_to "Изменить", edit_admin_test_path(test) %></td>  
  <td><%= link_to "Удалить", admin_test_path(test), 
          method: :delete, 
          data: { confirm: "Действительно удалить?" } %>
  </td>
</tr>
