<!--h2>Название теста: «<%= @test.title %>»</h2-->
<h1><%= t('.header', title: @test.title) %></h1>

<p>
  <strong><%= t('.level', level: test_level(@test)) %> </strong>
</p>

<h2><%= t('.questions') %></h2>

<p>
  <%= link_to t('.new_question'), new_admin_test_question_path(@test.id) %>
</p>

<table>
  <tr>
    <th><%= t('.title') %> </th>
    <th colspan="3"><%= t('.actions') %> </th>
  </tr>

  <!-- %= render @questions %-->
  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</table>

<p>  
  <%= link_to t('.edit'), edit_admin_test_path(@test) %> |
  <%= link_to t('.back'), admin_tests_path %>
</p>
