<%= form_with model: @test, data: { turbo: false } do |form| %>

  <%= render 'shared/errors', resource: @test %>

  <p>
    <%= form.label :title, 'Название Теста' %><br>
    <%= form.text_field :title, id: :test_title %>
  </p>

  <p>
    <%= form.label :level, 'Уровень сложности' %><br>
    <%= form.number_field :level, id: :test_level %>
  </p>

  <p>
    <%= form.label :user_id, 'Автор' %><br>
    <%= form.collection_select :user_id, User.all, :id, :name, prompt: true %>
  </p>
  
  <p>
    <%= form.label :category_id, 'Категория' %><br>
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: true %>
  </p>

  <p><%= form.submit %></p>
<% end %>
