<tr>
  <td class="text-left"><%= test.title %></td>
  <td class="text-center"><%= test_level(test) %></td>
  <td class="text-center"><%= test.questions.size %></td>
  <td class="text-center"><%= test.category.name %></td>
  <td class="align-middle"><%= button_to t('.start'), start_test_path(test.id), class: 'btn btn-sm btn-info btn-block' %></td>
</tr>
