<h2>Список вопросов по курсу: «<%= @test.title %>»</h2>

<p>
  <strong>Уровень сложности:</strong>
  <%= test_level(@test) %>
</p>

<p>
  <%= link_to 'Добавить вопрос', new_test_question_path(@test.id) %>
</p>

<table>
  <tr>
    <th>Вопросы</th>
    <th colspan="3">Действия</th>
  </tr>

  <%= render @questions %>
</table>

<p>  
  <%= link_to "Вернуться к списку курсов", tests_path %>
</p>
