<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= render 'shared/header' %>

    <% if user_signed_in? %>      
      <p class="nav user">
        <%= t('.welcome', user_name: current_user.first_name) %> |
        <%= link_to t('.log_out'), destroy_user_session_path, method: :delete %>
      </p>
    <% end %>

    <%= render 'shared/flash' %>

    <%= yield %>
    <br>
    <br>
    <%= render 'shared/footer' %>
  </body>
</html>
