<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= render 'shared/header' %>


    <% if logged_in? %>
      <p class="nav user">Добро пожаловать! <b><%= current_user.name %></b> Guru |
        <%= link_to 'Выход', logout_path, data: { method: :delete } %>
      </p>
    <% end %>

    <%= yield %>
    <br>
    <%= render 'shared/footer' %>
  </body>
</html>
